<h1>See all our pets!</h1>

   <p> Search Pets: <select class="form-select" id="selectPetTypeSearch">Search Pets: 
        <option selected>Select Pet Type</option>
        <option value="1">Dog</option>
        <option value="2">Cat</option>
        <option value="3">Bird</option>
        <option value="4">Other</option>
    </select>
          <button class="w-100 btn btn-lg btn-success" type="submit" id="searchByTypeButton">Search</button>
</p>



{{#if allPets}}

<div class="row justify-content-evenly">
	{{#each allPets}}
	<div class="card m-2 bg-secondary" style="width: 18rem;">
		<a href="/allpets/pet/{{id}}"><img src="../images/{{picture}}.jpg" class="card-img-top" alt="picture of animal"></a>
		<div class="card-body">
			<h5 class="card-title text-white">Say hello to {{petName}}</h5>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">{{petType}}, {{breed}}</li>
			<li class="list-group-item">Age: {{age}}</li>
			<li class="list-group-item"><a href="mailto: {{user.email}}" class="card-link">Send Email to
					<strong>{{user.firstName}}</strong> for more info!</a></li>
		</ul>
		<div class="card-body">

      </div>
	</div>
	{{/each}}
</div>
{{else}}
<h1>Currently no pets available</h1>
{{/if}}

<script src="/js/search.js"></script>

