<h1>All pets is commin soon ...</h1>

{{!-- {{#each allInfo}}
<div class="card text-dark bg-light my-3 border border-dark">
    <a href="/addcomment/post/{{id}}" class="d-inline-flex card-header p-2 justify-content-between"
        style="text-decoration: none;">
        <div class="me-3"><strong>{{title}}</strong></div>
        <div class="ms-3">Posted By <strong>{{user.username}}</strong> on {{format_date createdAt}} {{format_time
            createdAt}}</div>
    </a>
    <div class="card-body">
        <p class="card-text">{{text}}</p>
    </div>
</div>
{{/each}} --}}