<h1>See all our pets!</h1>

<div class="row align-middle,">
	<div class="col-sm">
		{{#if petType}}
		<select class=" mb-3 form-select" id="selectPetTypeSearch">
			<h6>Search Pets:</h6>
			<option selected disabled hidden>{{petType}}</option>
			<option value="1">Show all</option>
			<option value="2">Dog</option>
			<option value="3">Cat</option>
			<option value="4">Bird</option>
			<option value="5">Other</option>
			
		</select>
		{{else}}
		<select class=" mb-3 form-select" id="selectPetTypeSearch">
			<h6>Search Pets:</h6>
			<option selected>Show all</option>
			<option value="1">Dog</option>
			<option value="2">Cat</option>
			<option value="3">Bird</option>
			<option value="4">Other</option>
		</select>
		{{/if}}


	</div>
	<div class="col-sm">
		<button class="btn btn-success" type="submit" id="searchByTypeButton">Search</button>
	</div>
</div>

{{#if allPets}}

<div class="row justify-content-evenly">
	{{#each allPets}}
	<div class="card m-2 bg-light" style="width: 18rem;">
		<a href="/allpets/pet/{{id}}"><img src="{{picture}}" class="card-img-top"
				alt="pet picture"></a>
		<div class="card-body">
			<h5 class="card-title text-black">Say hello to {{petName}}</h5>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">{{petType}}, {{breed}}</li>
			<li class="list-group-item">Age: {{age}}</li>
			<li class="list-group-item"><a href="mailto: {{user.email}}" class="card-link">Send Email to
					<strong>{{user.firstName}}</strong> for more info!</a></li>
		</ul>
		<div class="card-body">

		</div>
	</div>
	{{/each}}
</div>
{{else}}
<h1>Currently no pets available</h1>
{{/if}}

<script src="/js/search.js"></script>