<div class="topBackPic"></div>

<h1>Main page is commin soon ...</h1>

<div class="row justify-content-evenly">
    <div class="col-sm-5 my-5">
        <a href="/allpets" class="w-100 btn btn-lg btn-success" type="submit">Adopt a Pet</a>
    </div>
    <div class="col-sm-5 my-5">
        <a href="/allpets" class="w-100 btn btn-lg btn-success" type="submit">Find New Family For Pet</a>
    </div>
</div>
<br>
<br>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

{{!-- {{#each allInfo}}
<div class="card text-dark bg-light my-3 border border-dark">
    <a href="/addcomment/post/{{id}}" class="d-inline-flex card-header p-2 justify-content-between"
        style="text-decoration: none;">
        <div class="me-3"><strong>{{title}}</strong></div>
        <div class="ms-3">Posted By <strong>{{user.username}}</strong> on {{format_date createdAt}} {{format_time
            createdAt}}</div>
    </a>
    <div class="card-body">
        <p class="card-text">{{text}}</p>
    </div>
</div>
{{/each}} --}}