<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{picture}}" class="img-fluid rounded-start" alt="Pet image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">My Name: {{petName}}</h5>
        <h5 class="card-title">My Age: {{age}}</h5>
        <h5 class="card-title">My Breed: {{breed}}</h5>
        <h5 class="card-title">About Me: {{description}}</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
{{#each messages}}

<div class="card border-primary mb-3">
  <div class="card-body text-primary">
    <p class="card-text fst-italic text-end">{{message_text}}</p>
  </div>
  <div class="card-header text-end"><span class="userCommentedId"><strong>{{username}}</strong></span> {{format_date
    createdAt}}</div>
</div>
{{/each}}


{{#if loggedIn}}
<form class="my-3">
  <div class="mb-3">
    <label for="messageText" class="form-label"><strong>Add Message</strong> </label>
    <textarea class="form-control" id="messageText" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="saveMessageButton">Save Message</button>
  <a href="/allpets" class="btn btn-primary">Go Back</a>
</form>
{{else}}
<p> Please login to send message!</p>
<a href="/login" type="button" class="btn btn-primary my-3" id="addPostButton">Log in</a>

{{/if}}


<script src="/js/addmessage.js"></script>